@model IEnumerable<EnigmaDotnet.Models.Reservation>

@{
ViewBag.Title = "Бронирования";
}

<h2>Бронирования</h2>

<ul class="list-group">
    @foreach (var reservation in Model)
    {
    <li class="list-group-item">
        Книга: @reservation.Book.Title <br />
        Дата бронирования: @reservation.ReservationDate.ToString("dd/MM/yyyy") <br />
        Пользователь: @reservation.User.UserName <br />
        Статус: @reservation.Status <br />
        @Html.ActionLink("Редактировать", "Edit", "Reservations", new { id = @reservation.ReservationId}, htmlAttributes: new {@class = "btn btn-primary"})
    </li>
    }
</ul>
